// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-signup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #461A42;
  height: 72px; 
  margin: auto 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.login-signup .nav-links .signup {
 
  padding: 20px;

}

.login-signup .nav-links .login {
 
  padding: 10px;
  background-color: black;
  opacity: 0.5;
  height: 10px;
  border-radius: 4px;
  margin-top: 25px;
  text-align: center;
  transition: all 0.2s ease-out;
  // background-color: rgba(0,0,0,0.2);
 
}
.login-signup .nav-links .login:hover {
 -webkit-filter: brightness(70%);
}

.signup-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'QuickSand', 'OpenSans', sans-serif, Helvetica, Arial;
  background: #00C985;
  width: 108px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  font-size: 16px;
  font-weight: 700;
  padding-left: 20;
  text-align: center;
} 
.login-link {
  display: inline-block;
  text-decoration: none;
  font-family: "quicksand";
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 64px;
  height: 30px;
  color: white;

}


.email-form {
 display: flex;
  flex-direction: column;
   margin-top: 100px;
  justify-content: center;
  width: 400px;
  height: 225px;
  background-color: white;
  align-items: center;
  border-radius: 4px;
}

 button {
  background-color: #4285f4;
  color: white;
  width: 80%;
  text-align: left;
  height: 40px;
  border-radius: 4px
}

.email-form .next {
  background-color: #f2f2f2;
  width: 85%;
  height: 40px;
  margin: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: lightgrey;
}

.email-form h2 {
  font-family:  sans-serif, Helvetica, Arial;
  align-self: center;
  font-size: 20px;
  color: #292A3A;
  font-weight: bold;
}

.email-form .next:hover {
  background-color: #7D72EC;
}

#email {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  
}

.email-form label {
  align-self: flex-start;
  margin-left: 30px;
  font-size: 12px;
  margin-bottom: 2px;
  color: #6B7C93;
}



.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 20px;
  height: 100%;
}

.login-input {
  padding: 15px;
  font-family: OpenSans, sans-serif, Helvetica, Arial;
  border-radius: 4px;
}

.login-form h3 {
  align-self: center;
  font-family: OpenSans, sans-serif, Helvetica, Arial;
  color: #393A68;
  margin-top: 10px;
  font-size: 14px;
}

.login-input::placeholder {
  color: #Adadad;
  font-size: 14px;
}

.login-form-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 350px;
  background-color: white;
  align-items: center;
  border-radius: 4px;
}

.login-form label {
  font-size: 12px;
  color: #393A68;
  padding: 8px 0 8px 0;
}

.login-submit {
  background-color: #7D72EC;
  height: 40px;
  border-radius: 4px;
  color: white; 
  font-size: 14px;
  margin-top: 28px;
}
.login-submit:hover {
  opacity: 30%;
}

.login-form p {
  color: #6B7C93;
  font-family: OpenSans, sans-serif, Helvetica, Arial;
  margin-top: 24px;
}

.login-form a {
  color: #7D72EC;
  font-family: OpenSans, sans-serif, Helvetica, Arial;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}





body {
  background-color: #461A42
}

.occupation-form {
  border-bottom: 4px solid #dadada;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.occupation-container {
  margin-top: 100px;
  display: flex;
  font-family: OpenSans, sans-serif, Helvetica, Arial;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 529px;
}


.occupation-title {
  font-size: 24px;
  font-weight: bold;
  font-family: OpenSans, sans-serif, Helvetica, Arial;
}

.occupation-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.occupation-outer-container {
  display: flex;
  flex-direction: row;
}

.occupation-title-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  align-items: center;
}



.occupation {
  display: flex;
  border: 1px solid #e0e0e1;
  width: 160px;
  height: 200px;
  border-radius: 4px;
  margin: 10px;
  // text-align: ;
}





.user-signup {
  background-color: white;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 4px;
}

.user-signup label {
  color:#6B7C93;
  display: block;
}

.user-submit {
  background-color: #f2f2f2;
  color: rgba(41,42,58,0.34);
  width: 80%;
  height: 40px;
  border-radius: 4px;
}

.occupation.teacher {
  background-image: image_url('occupations/educator.png');
  background-size: contain;
  background-repeat: no-repeat;
  
  font-size: 16px;
  font-weight: bold;
}

.occupation-submit {
  // margin: 20px;
}

.occupation-input-container label {
  font-size: 20px; 
  color: #292A3A;
  font-weight: bold;
  padding: 10px;
}

.occupation.student {
  background-image: image_url('occupations/learner.png');
  background-size: contain;
  background-repeat: no-repeat;
   font-size: 16px;
  font-weight: bold;
}

.occupation.parent {
  background-image: image_url('occupations/parent_or_guardian.png');
  background-size: contain;
  background-repeat: no-repeat;
  
  font-size: 16px;
  font-weight: bold;
}

.student-signup {

  background-color: white;
  width: 400px;
  height: 300px; 
}

.student-form-container {
  display: flex;
  flex-direction: column;
   margin-top: 100px;
  justify-content: center;
  width: 400px;
  height: 350px;
  background-color: white;
  align-items: center;
  border-radius: 4px;
}