.menu div {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  border-radius: 8px;
  
}

.menu:hover{
  background-color: rgba(0,0,0,0.2);
}

.menu {
  background-color: transparent;
  border: none;
  padding: 12px;
}
.menu span{
  width: 15px;
  height: 5px;
}

.nav-create {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-family: OpenSans, sans-serif, Helvetica, Arial;
}

.nav-create:hover {
  background-color: rgba(0,0,0,0.2);

}

.login-link {
  color: white;
  background-color: rgba(0,0,0,0.2);
  width: 64px;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  font-family: 'QuickSand', 'OpenSans', sans-serif, Helvetica, Arial;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  
}

.logo-container {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: darkgray 1px 1px 0;
  position: relative;
 
}


.login-link:hover {
  background-color: rgba(0,0,0,0.4);
}

i {
  font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    width: 10px;
    height: 10px;
    color: white;
}


.login-signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // justify-content: flex-end;
  background-color: #461A42;
  height: 72px; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.nav-links {
  display: flex;
  list-style-type: none;

}


.login-signup .nav-links .signup {
 
  padding: 20px;

}

.login-signup .nav-links .login {
  
  padding: 10px;
  
  // opacity: 0.5;
  height: 10px;
  border-radius: 4px;
  margin-top: 25px;
  text-align: center;
  // transition: all 0.2s ease-out;
  background-color: rgba(0,0,0,0.2);
 
}
.login-signup .nav-links .login:hover {
 -webkit-filter: brightness(70%);
}

.signup-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'QuickSand', 'OpenSans', sans-serif, Helvetica, Arial;
  background: #00C985;
  width: 108px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  font-size: 16px;
  font-weight: 700;
  padding-left: 20;
  text-align: center;
} 
