#sidebar {
  width: 248px; 
  height: 100vh; 
  background-color: #461A42;
  box-sizing: border-box;
  position: fixed;
  left: -50vw;
  bottom: -50vh;
  display: flex;
  justify-content: flex-start;
  // top: 0;

}

.fa{
  padding: 10px;
 
}


.logout-button{
  background: transparent;
  border: none;
  color: white;
  font-family: Opensans sans-serif, Helvetica, Arial;
  cursor: pointer;

}

#sidebar li {
  list-style: none;
  color: white;
  font-family: Opensans sans-serif, Helvetica, Arial;
  border: none;
  margin-left: -25px;
  line-height: 48px;
  font-weight: normal;
  font-size: 14px;
}



.create-quiz {
    color: white;
  font-family: Opensans sans-serif, Helvetica, Arial;
  text-decoration: none;
}

