.main-title {
  font-size: 40px;
  font-family: 'QuickSand', 'OpenSans', sans-serif, Helvetica, Arial;
  margin-bottom: 30px;
}

   .splash-container {
    font-family: 'QuickSand', 'OpenSans', sans-serif, Helvetica, Arial;
    // font-family: 'Permanent Marker';
    width: 400px;
    top: 100;
    position: relative;
    top: 150px;
    left: -400px;
    color: white;
    
   }

   .splash-container h2 {
    margin-bottom: 30px;
   }